@import 'components/navbar';
@import 'components/footer';
@import 'base/extends';
@import 'base/mixins';

* {
	padding: 0;
	margin: 0;
	@extend %fuentes;
	box-sizing: border-box;
}

body {
	padding-top: 85px;
	width: 100%;
}

/* Header y Menu de navegacion */
header {
	background-color: $color-principal;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 200;
}

/* Main index - inicio */

.mainIndex {
	margin: 1em 0;

	.container {
		.row {
			h1 {
				margin-top: 0.3em;
				margin-bottom: 1em;
			}

			h2 {
				font-size: 1.3em;
				margin-top: 1em;
			}

			.col {
				a {
					text-decoration: none;

					&:hover {
						text-shadow: 1px 1px 3px darkgray;
						transition: 0.5s ease-in-out;
					}

					h5 {
						margin: 0.5em 0 0.8em 0;
						@include flexible(flex, center);
						color: $color-secundario;

						@media (max-width: 767px) {
							font-size: 1em;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 767px) {

	.colMarcas1,
	.colMarcas2 {
		width: 50%;
		padding: 0.5em 1em;
	}
}

/* Titulos */
h1 {
	text-align: center;
	text-transform: uppercase;
	font-size: $titulo-principal;
	@extend %fuentes;
	font-weight: 600;
}

.titulo-index {
	margin-top: 1em;
}

.titulo-marcas {
	margin-top: 1em;
}

.titulo-nosotros {
	font-size: 4em;
	position: absolute;
	left: 70%;
	margin-left: -250px;
	margin-top: 15.5em;
	color: white;
	text-shadow: 2px 2px 2px #000000;
	animation: move 3s ease-in-out infinite;
}

@keyframes move {
	0% {
		transform: translate(-30%, 0);
	}

	50% {
		text-shadow: 10px 10px 10px $color-principal;
	}

	100% {
		transform: translate(5%, 0);
	}
}

.titulo-contactanos {
	margin-top: 0.5em;
}

/* Parrafos */
.parrafos {
	@extend %fuentes;
	font-weight: 300;
	font-style: italic;
	font-size: 1.3em;
	letter-spacing: 0.1em;
	word-spacing: 0.3em;
	line-height: 1.8em;
	text-align: center;
	padding: 0.5em 1em;
}

.parrafo-index {
	margin: 0 7em;
	padding: 0 0;
	text-align: justify;
}

/* Marcas - marcas.html */


/* nosotros.html */
.img-nosotros {
	width: 100%;
	display: block;
	margin: auto;
	margin-bottom: 1.3em;
}

/* FAQ en nosotros.html */
.accordion-button {
	background-color: $color-principal;
}

.accordion-header {
	margin-bottom: 0.2em;
}


/* productos - productos.html */

.card {
	position: relative;
	width: 18em;
	height: 19em;
	background: #fff;
	border-radius: 5px;
	margin: 3em 1em 3em 1em;
	transition: 0.5s ease-in-out;

	&:hover {
		height: 24em;
		box-shadow: 0 5px 15px darkgray;
	}

	.imgBx {
		position: absolute;
		width: 90%;
		left: 50%;
		transform: translateX(-50%);
		height: 14em;
		border-radius: 20px;
		overflow: hidden;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}

.containerProd {
	flex-wrap: wrap;
	margin: 0 auto;
}

.card {
	.content {
		position: absolute;
		width: 100%;
		height: 100%;
		@include flexible(flex, center);
		overflow: hidden;

		.detalles {
			text-align: center;
			width: 100%;
			margin-top: 236px;
			height: 40px;
			transition: 0.5s;

			&:hover {
				transform: translateY(0px);
			}

			h3 {
				font-size: $titulo-productos;
				font-weight: 600;
				color: #000;
			}

			h5 {
				font-size: $precio-productos;
				font-weight: 800;
				color: $color-precios;
			}

			.carritoBtn {
				margin-bottom: 5px;
				margin-top: -0.6em;

				p {
					margin-top: 1em;
					margin-bottom: 0.26em;
				}

				button {
					padding: 3px 15px;
					border: none;
					border-radius: 5px;
					outline: none;
					background-color: $color-principal;
					font-weight: 400;
					font-size: 0.90em;
				}
			}
		}
	}

}

/* Formulario de contacto - contactanos.html */
.container-form {
	@include flexible(flex, center);
}

.form-contactanos {
	margin-bottom: 1.5em;
	margin-top: 3em;
}