@import 'components/navbar';
@import 'components/footer';
@import 'components/header';
@import 'components/titulosparrafos';
@import 'components/index';
@import 'components/marcas';
@import 'components/nosotros';
@import 'components/productos';
@import 'components/contactanos';
@import 'base/extends';
@import 'base/mixins';

* {
	padding: 0;
	margin: 0;
	@extend %fuentes;
	box-sizing: border-box;
}

body {
	padding-top: 85px;
	width: 100%;
}

.disclaimer {
	display: none !important;
}