@import '../base/variables';
@import '../base/mixins';

// marcas.html

.marcas-container {
	flex-wrap: wrap;
	margin: 0 auto;

	.cardMarca {
		position: relative;
		width: 20.5em;
		height: 19em;
		border-bottom: 1px solid lightgrey;
		margin: 3em 1em 3em 1em;

		.marca-imgContainer {
			position: absolute;
			width: 100%;
			left: 50%;
			transform: translateX(-50%);
			height: 10em;

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}

		.marca-contenido {
			position: absolute;
			width: 100%;
			height: 100%;
			@include flexible(flex, center);

			.marca-detalles {
				text-align: center;
				width: 100%;
				margin-top: 170px;
				height: 40px;

				p {
					margin-bottom: 0;
				}

				.marca-button {
					margin-bottom: 5px;
					margin-top: -0.6em;

					button {
						background-color: #fff;
						padding: 3px 15px;
						border: none;
						box-shadow: 0 0 3px rgba(0, 0, 0, 10%);
						border-radius: 5px;
						margin-top: 2em;

						&:hover {
							background-color: $color-principal;
						}

						a {
							text-decoration: none;
							color: $color-secundario;
							font-weight: 600;
						}
					}
				}
			}
		}
	}
}