
%fuentes {
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Overpass', sans-serif;
}

%inputarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    font-size: 1.1em;
    border: none;
    border-radius: 7px;
}