$color-principal: #FCCA46;
$color-secundario: #000000;
$accordion-button-active-color: $color-principal;
$accordion-button-active-bg: transparent;
$color-precios: rgb(63, 184, 63);

$titulo-principal: 2.5em;
$titulo-productos: 1em;
$precio-productos: 1.5em;